.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  color: #000;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  text-underline-position: under;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__menu-link {
  font-size: 18px;
}

.header__logo {
  display: block;
  width: 138px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-position: under;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  color: #fff;
  text-transform: uppercase;
  background: url("../images/cover.jpg") no-repeat center / cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
  line-height: 115%;
  text-align: start;
}

.aligned-text_center {
  display: block;
  margin-bottom: 20px;
  margin-left: 0.3em;
  line-height: 115%;
  text-align: center;
}

.aligned-text_end {
  display: block;
  margin-right: -0.3em;
  line-height: 115%;
  text-align: end;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  font-size: 22px;
}

.cover__description-text {
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  background: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  display: block;
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: #fff;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") no-repeat center / cover;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") no-repeat center / cover;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg") no-repeat center / cover;
}

.card__title {
  z-index: 2;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  width: 192px;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  padding: 35px 24px 180px;
}

.about__column {
  margin-left: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 101px;
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  width: 164px;
  text-align: center;
  text-underline-position: under;
  list-style-type: none;
}

.footer__menu-list-item {
  display: inline-block;
}

.footer__menu-link_active .footer__menu-link {
  text-decoration: none;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  justify-self: right;
  gap: 48px;
  list-style-type: none;
}

.footer__social-list-item {
  width: 48px;
}
